@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #465535;
    text-align: center;
}
main {
    background-color: #969C87;
    font-size: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
nav a{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    border-width: 4px;
    margin-left: 13px;
    margin-right: 13px;
}
nav a:hover {
    color: rgb(163, 163, 163);
    text-decoration: underline;
    font-size: 45px;
}
img {
    width: 200px;
}
.logoheader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%
}
header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
aside {grid-area: aside}
footer {grid-area: footer}
image {grid-area: image}

.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header header'
  'nav nav nav nav nav'
  'image image image main main'
  'footer footer footer footer footer';
  gap: 20px;
  padding: 35px;
}
.AsideImage {
    width: 600px;
    height: 500px;
    border: 30px solid #969C87;
}